<section class="mainPage" ng-swipe-left="swipeLeft()" ng-swipe-right="swipeRight()" ng-class="{night: isNight() }">
	<section id="mainHeader">
		<h1 id="clock" ng-click="disconnect()">{{timeNow | date:'HH:mm'}}</h1>
		<div class="rightSettings" ng-click="settingsPage()"><img ng-src="{{isNight() && 'img/settings.png' || 'img/morningcog.png'}}" height="25" width="25"> </div>

	</section>
	<nav id="navBar">
		<a id="day1" ng-click="selectDay(0)" ng-class="{ navPressed: isActive(0) }">s</a>
		<a id="day2" ng-click="selectDay(1)" ng-class="{ navPressed: isActive(1) }">m</a>
		<a id="day3" ng-click="selectDay(2)" ng-class="{ navPressed: isActive(2) }">t</a>
		<a id="day4" ng-click="selectDay(3)" ng-class="{ navPressed: isActive(3) }">w</a>
		<a id="day5" ng-click="selectDay(4)" ng-class="{ navPressed: isActive(4) }">t</a>
		<a id="day6" ng-click="selectDay(5)" ng-class="{ navPressed: isActive(5) }">f</a>
		<a id="day7" ng-click="selectDay(6)" ng-class="{ navPressed: isActive(6) }">s</a>
	</nav>
	<article id="mainDayText">{{todayAlarm.day}}</article>
	

	<section id="mainImage" data-role="content"  ng-style="isNight() && {'background-image':'url(img/moon.png)'} || {'background-image':'url(img/sun.png)' }" ></section>
	<section class="footer" ng-click="setAlarmPage()">
		<article id="mainAlarmTime"  ng-hide="nightmode">{{currentAlarm.timeToWakeUp}}</article>
		<article id="mainAlarmTime" ng-show="nightmode">{{currentAlarm.tts | date:'HH:mm'}}</article>
		<article id="mainSubtitle" ng-show="nightmode">time to sleep</article>
		<article id="mainSubtitle" ng-hide="nightmode">time to wakeup</article>
	</section>
</section>