


<section class="mainPage" ng-swipe-left="swipeLeft()" ng-swipe-right="swipeRight()" ng-class="{night: isNight() }">
	<section id="mainHeader">
		<h1 id="clock" ng-click="disconnect()">{{timeNow | date:'HH:mm'}}</h1>
	</section>
	
	<section  class="center labelDes" id="mainDayText">Smart Alarm</section>

	<section id="mainImage" data-role="content"  ng-style="isNight() && {'background-image':'url(img/moon.png)'} || {'background-image':'url(img/sun.png)' }" ></section>
	<div  class="center labelDes2" ng-click="facebookLogin()" ng-style="isNight() && {'color':'#ffffff !important' } || {'color':'#000000 !important'}">Login with Facebook </div>
	
</section>