<section >
	<section id="mainHeader">
		<div class="rightSettings" ng-click="close()"><img ng-src="img/morningx.png" height="20" width="20"> </div>

	</section>
    <br>
    <section id="wakeup">
		<article id="mainSubtitle">settings</article>
	</section>

	<section>
		<ul id="alarmList">
			<li class="settingsFormLi">
				<section >
					<input type="text" class="inputSec place" placeholder="Destination">
				</section>
				<div class="clear"></div>
			</li>
            <li class="settingsFormLi">
                <section >
                    <input type="text" class="inputSec place" placeholder="Destination">
                </section>
                <div class="clear"></div>
            </li>

		</ul>
	</section>
	
	
	<section id="setFooter" data-role="footer" data-position="fixed">
		<a href="#" id="footerSave">Save</a>
	</section>
			
</section>
