<section >
	<section id="mainHeader">
		<div class="rightSettings" ng-click="close()"><img ng-src="img/morningx.png" height="20" width="20"> </div>

	</section>
    <br>
    <section id="wakeup">
		<article id="mainSubtitle">settings</article>
	</section>

	<section>
		<ul id="alarmList">
			<li class="settingsFormLi">
				<section >
					<!--<input type="text" class="inputSec place labelDes" placeholder="Destination" ng-value="todayAlarm.location">-->
					<input type="text" class="inputSec place labelDes" placeholder="Home Town" ng-autocomplete ng-model="user.hometown.name" options="options" details="user.hometown.data"/>
				</section>
				<div class="clear"></div>
			</li>

		</ul>
	</section>
	
	
	<section id="setFooter" data-role="footer" data-position="fixed">
		<div id="footerSave" ng-click="saveSettings()">Save</div>
	</section>
			
</section>
