<section id="sleepPage" data-role="page" class="sleep2Style ">
		<section id="sleepPageHeader" data-role="header" class="sleep2Style center">
				
				<h1><a ng-click="stopSnooze()" id="stopSleepInt">i'm in bed</a></h1>
		</section>
		
		<section id="sleepPageContent" data-role="content" class="sleep2StyleContent">
				<article id="sleepPageText">sweeite you'll be tired tomorrow</article>
		</section>

		<section class="footer wake1StyleFooter">
		<article id="wkTm">{{currentAlarm.tts | date:'HH:mm'}}</article>
		<article id="wakeTitle">time to bed</article>
	</section>
					
</section>