<section id="wakePage" data-role="page" class="wake2Style">
	<section data-role="header" id="wakePageHeader" class="wake2Style center">
			<h1><div id="stopWakeInt" ng-click="stopSnooze()">i'm awake</div></h1>
	</section>
	
	<section data-role="content" id="wakePageContent" class="wake1StyleContent">
			<article id="wakePageText">hurry up or you'll be late </article>
	</section>


	<section class="footer wake1StyleFooter">
		<article id="wkTm">{{todayAlarm.timeToWakeUp}}</article>
		<article id="wakeTitle">time to wake up</article>
	</section>
	
					
</section>