<section id="wakePage" data-role="page" class="wake1Style">
	<section data-role="header" id="wakePageHeader" class="wake1Style center">
			<h1><id="stopWakeInt">i'm awake</a></h1>
	</section>
	
	<section data-role="content" id="wakePageContent" class="wake1StyleContent">
			<article id="wakePageText">good morning sunshine</article>
	</section>


	<section class="footer wake1StyleFooter">
		<article id="wkTm">{{todayAlarm.timeToWakeUp}}</article>
		<article id="wakeTitle">time to wake up</article>
	</section>
	
					
</section>